<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>周囲のユーザーと通信するためにローカルネットワークを使用します。</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>近くのデバイスを発見するためにBluetoothを使用します。</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_airtalk._tcp</string>
		<string>_airtalk._udp</string>
	</array>
</dict>
</plist>
